body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

main {
    flex: 1;
    display: flex;
}

.col-centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}

h4 {
    margin-top: 2rem;
}

h5 {
    margin-bottom: 1rem;
}