---
layout: default
isIndex: true
---

<header class="ip-header">
  <div class="ip-logo">
    <img id="gif" class="ip-inner u-img-responsive" width="626" src="{{ '/images/name.gif' }}">
  </div>
</header>

<div id="main-wrapper">
    <div id="content">
        <div id="header-text" class="u-hide">
            <h3 id="title" align="center">I like simple things</h3>
            <p id="titleButtons" align="center">
                <a class="button" href="/files/augustnagro-resume.pdf" target="_blank">Resume</a>
                <a class="button" href="/projects">Projects</a>
            </p>
        </div>
    </div>
    {% include footer.html %}
</div>

<script type="text/javascript">
  {% include index.js %}
</script>