:root {
    color-scheme: light dark;
    --primaryColor: #89CFF0;
    --secondaryColor: #FF6600;
    --backgroundColor: white;
    --color: black;
}

@media (prefers-color-scheme: dark) {
    :root {
        --backgroundColor: #2c2c2c;
        --color: #e4e4e4;
    }
}

a, hr {
    color: var(--color);
}

hr {
    width: 80%;
}
